*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title-text{
    font-size: 40px;
    text-align: center;
    
}
body{
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}
/*navbar*/

  







/*header*/
.header{
   /* display: flex;*/
    min-height: 100vh;
     background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)),
     url(./images/m.jpg)center/cover no-repeat fixed;
    /* flex-direction: column;*/
    margin-top: auto; 
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.hero .title{
    color: #fff;
    font-size: 50px;
}
.hero-button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: orange;
    color:#fff;
    cursor: pointer;
    border: 2px solid orange;
    margin-top:10px;
  
}
.hero-button:hover{
    background: #fff;
    color: orange;
    border: none;
    

}
.pulsate{
    /*-webkit-*/animation: pulsate 3s ease-in-out;
    /*-webkit-*/animation-iteration-count:infinite ;
    opacity: .3;
    color: black;
}
@keyframes pulsate{
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }

}

/* End of header*/
/*==========About Section============*/
#about{
    padding: 40px;
    background-color: whitesmoke;
}

.about{
    margin: 30px 0;
    display: flex;
   
}
.about-icon .fas{
    font-size: 60px;
    color: black;
    margin-right: 20px;
}
.about-subtitle{
    text-transform: capitalize;
    color: black;
    font-size: 25px;
}
.about-info{
    margin-top: 10px;
    line-height: 1.5;
}
.about-icon:hover .fas,
.about-subtitle:hover{
 transition: transform 2s ease, color 2s ease;
 transform: translateY(-10px);
    color: blue;
    cursor: pointer;
}
@media screen and (min-width: 576px){
    .about-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about{
        flex: 0 0 calc(50% - 16px);
    }
}
@media screen and (min-width:972px){
    .about{
        flex: 0 0 calc(33.3% - 16px);
    }
}
/*=====end of Icon Section======*/
/*=====Menu Section======*/
.menu-image{
    min-height: 80vh;
    background: url(images/mb1.jpg) center/cover fixed no-repeat;
}
.menu-text{
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: orange;
    columns: #0000;
    padding: 40px 0;
}
.menu-text-center{
    width: 90%;
    margin: 0 auto;
}
.menu-text h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.menu-text p{
    margin: 20px 0;
    line-height: 2;
}
.menu-text a{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 13px 20px;
    border-radius: 200px;
    font-weight: bold;
    background: rgb(10, 10, 10);
    color: white;
    cursor: pointer;
    border: 2px solid #000;
    margin-top:10px;
}
.menu-text a:hover{
    color:orange;
    background: #fff;
    border:none;

}
@media screen and (min-width:776px){
    .menu{
        display: flex;
    }
    .menu-text{
        flex: 0 0 30%;
    }
    .menu-image{
        flex: 0 0 70%;
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%)
    }
    .menu{
        background: orange;
    }
}
/*========End of Menu Section====*/


/*==========Social Icons====*/

#social-icons{
 height: 150px;
   background:#fff;
    text-align: center;
   /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);*/
    padding: 50px 0 50px 0;
}
#social-icons a{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 40px;
    border-radius:5px;
    transition: transform 2s ease, color 2s ease;
}
#social-icons a:hover{
    transform: translateY(-20px);
}
.whatsapp{
    color: green;
}

.instagram{
 color:   #e1306c;
}

/*====end of Social Icons======*/
/*==========Numbers/ Counters=======*/
.number{
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),
     url('./images/mb1.jpg') center/cover fixed no-repeat;
    padding: 60px 0;
    color:#fff;
 }
 .number p{
     font-size: 30px;
     font-weight: bold;
 }
.number:hover{
    color: orange;
}
.number .fas{
    font-size: 60px;
    margin: 20px 0;
}
.number h3{
    text-transform: uppercase;
}
@media screen and (min-width:576PX){
    #numbers {
        display: grid;
    grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 992px){
    #numbers{
        grid-template-columns: repeat(4, 1fr);
    }
}
/*========End of Cards Section=======*/
/*=========Gallery Section============*/
#gallery{
    padding: 40px;
    min-height: 80vh;
    background: url(images/mb5.jpg) center/cover fixed no-repeat;
}
.gallery-item{
    background: linear-gradient(rgb(rgba(241, 161, 13)) rgb(rgb(255, 165, 0)));
}
.gallery-item img{
    display:block;
    width: 80%;
    opacity: 1;
    transition: opacity 2s ease;
}
.gallery-item img:hover{
    opacity: 0.5;
}
@media screen and (min-width:576px){
    #gallery-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:992px){
    #gallery-center{
        grid-template-columns: repeat(4, 1fr);
    }
}

/*==========Footer========*/
.footer{
    background:#000;
    text-align: center;
    font-style: 'Baloo Chettan 2';
}
.footer .text{
text-transform: uppercase, lowercase;
color: #fff;
font-size: 20px;
margin-top: 20px;
}
